@import url('https://fonts.googleapis.com/css2?family=Kings&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    color: #7b5bc5;
}
nav{
    background-color: rgb(0, 0, 0);
    color:rgb(158, 0, 0);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: "Kings", cursive;
    border-style: groove;
    border-color: rgb(255, 0, 0);
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse; 
}
.introText{
    font-size: 30px;
    width: 950px;
    padding: 10px;
    border-style: groove;
    border-color: rgb(255, 0, 0);
}
.Gaming01{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    padding-left: 100px;
    padding-top: 45px;
}
.DOOM{
    margin-top: 150px;
    background-color: red;
    color: black;
}
.DOOMTEXT{
    font-size: 1.5rem;
    
}
.DOOMLOGO{
    width: 350px;
}
.MAINLOGO{
    margin: 10px;
}

